<div class="input-group mb-3">
    <select class="form-control" name="features">
        <option value="world/world">World</option>
        {% for group, countries in features %}
        {% if countries is not empty %}
        <optgroup label="{{ group | capitalize }}">
            {% for country in countries %}
            <option value="{{ country.directory }}">
                {{ country.emoji }}
                {% if country.native != country.name %}
                {{ country.native }} ({{ country.name }})
                {% else %}
                {{ country.name }}
                {% endif %}
            </option>
            {% endfor %}
        </optgroup>
        {% endif %}
        {% endfor %}
    </select>
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit">Go</button>
    </div>
</div>
