<div class="input-group mb-3">
    <select class="form-control" name="resources">
        {% for group, countries in resources %}
        {% if countries is not empty %}
        <optgroup label="{{ group | capitalize }}">
            {% for country in countries %}
            {% if country is iterable %}
            <option value="{{ group }}/{{ country[0] }}">
                {{ country[1] | replace({"_": " "}) | capitalize }}
            </option>
            {% else %}
            <option value="{{ group }}/{{ country }}">
                {{ country | replace({"_": " "}) | capitalize }}
            </option>
            {% endif %}
            {% endfor %}
        </optgroup>
        {% endif %}
        {% endfor %}
    </select>
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit">Go</button>
    </div>
</div>
